 {%  include 'NavBar.html' %}
<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="https://raw.github.com/meetselva/fixed-table-rows-cols/master/fixed_table_rc.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css">
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <head>
         <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css">


<style>

.button {
    background-color:white;
    border: 2px solid lightsteelblue;
    border-radius: 12px;
    color: black;
    padding: 10px 10px;
    font-size: 14px;
    cursor: pointer;
}
.table-wrapper {
  position:relative;
}
.table-scroll {
  height:600px;
  overflow:auto;
  margin-top:20px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width:100%;
    float:none ;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px;
}

tbody thead tr:nth-child(even) {
    background-color: #ffffff;
    table-layout:fixed;
    width:auto;
}

    form
{
    display: inline;
}

</style>
</head>

  <ul>
  <br>



<div class="container">
<b><h2>Nominated Variants:&nbsp; </h2></b>
<hr>
<div class="alert alert-warning">
    Number of Nominated Variants = {{ var_num }}.
  </div>
    <div class="alert alert-success">
    Query Done in {{ query_time }} seconds
  </div>



 <html>
<body>

    <div  class="table-wrapper " >
      <div class="table-scroll">

        <table  class="table  table-hover table-fixed table-bordered table-striped table-responsive table-condensed" >

            <thead >

        <tr bgcolor="#c8dbfd"  >
            <th>Variant</th>
            <th>Chrom</th>
            <th >Position</th>
            <th >Filter</th>
            <th >Consequence</th>
            <th >Annotation</th>
            <th >Lof Flags</th>
            <th >Allele Count</th>
            <th>Allele Number</th>
            <th >Number of Homozygous</th>
            <th >Allele Frequency</th>
        </tr>

   </thead>


{% for list in Variants %}
 <tbody class= "scrollContent">
 <tr>
        <td><font size="2" color="Window">
        <form action="{% url 'variant_view' %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn-link" name="Query" value="{{list.0}}"></form></font></td>
        <td><font size="2" color="Window">{{ list.1 }}</font></td>
        <td><font size="2" color="Window">{{ list.2}}</font></td>
        <td><font size="2" color="Window">{{ list.3}}</font></td>
        <td><font size="2" color="Window">{{ list.4}}</font></td>
        <td><font size="2" color="Window">{{ list.5}}</font></td>
        <td><font size="2" color="Window">{{ list.6}}</font></td>
        <td><font size="2" color="Window">{{ list.7}}</font></td>
        <td><font size="2" color="Window">{{ list.8}}</font></td>
        <td><font size="2" color="Window">{{ list.9}}</font></td>
        <td><font size="2" color="Window">{{ list.10}}</font></td>
        </tr>
    </tbody>
      {%endfor %}
        </table>
      </div>
      </div>
</body>
</html>

</ul>

